/* Apply to everything */
* {
  font-family: 'Comic Neue', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 20px;
}
body{
  background: #0a192f;
}
/* Optional: Center your content and limit width */
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #53ac3c; /* Tailwind sky-400 */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #754129; /* Tailwind slate-100 */
}

/* Hide the scrollbar buttons (top and bottom arrows) */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.text-outline {
  color: white;
  -webkit-text-stroke: 0.004rem black; /* for most modern browsers */
  text-shadow: 0.004rem rgb(50, 50, 50);         /* fallback */
}



